section {
    width: 100%;
    display: grid;   
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: inherit;
}

img {
    border-radius: 10px;
    background: rgb(30, 29, 29);
    width: 100%;
}

@media (max-width:1280px) {
    section{
        grid-template-columns: 1fr;
    }
}